html {
    scroll-behavior: smooth;
  }

.banner{
    width: 100px;
    height: 70px;
}

table{
    margin: auto;
    text-align: center;
}
th{
    color: white;
    background-color: grey;
}
.grey{
    color: white;
    background-color: grey;
}

.foto{
    width: 400px;
}

#footer{
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: grey;
    color: #fff;
}

.max-foto{
    max-height: 180px !important;
}

p .detail{
    font-size: 30px;
}
.fixed-footer{
    margin: 0px auto;
    position:absolute;
    bottom:0px;
    width: 100%;
}

.card {
    max-height: 150px !important;
  }


